{"swagger":"2.0","info":{"description":"Supported endpoints by the new RESTful API","version":"2.1.18, Hash: db562e6","title":"SevOne API Documentation","contact":{},"license":{}},"host":"qdc-sevone.qdx.com","basePath":"/","tags":[{"name":"Report Attachments Objects","description":"Objects Attachment Handler"},{"name":"DeviceTypes","description":"Device Type Handler"},{"name":"Objects","description":"Object Handler"},{"name":"Report Attachments StatusMap","description":"Status Map Attachment Handler"},{"name":"Api Keys","description":"Api Keys Handler"},{"name":"Discovery","description":"Discovery Handler"},{"name":"Policies","description":"Policy Handler"},{"name":"TopNViews","description":"Top N View Handler"},{"name":"Roles","description":"Role Handler"},{"name":"Report Attachments Topology","description":"Topology Attachment Handler"},{"name":"Report Attachments FlowFalcon","description":"Flow Falcon Handler"},{"name":"Report Attachments TopN","description":"Top N Attachment Handler"},{"name":"WorkHours","description":"Work Hours Handler"},{"name":"Peers","description":"Peer Handler"},{"name":"Report Attachments","description":"Report Attachments Handler"},{"name":"ObjectGroupRules","description":"Object Group Rule Handler"},{"name":"Users","description":"User Handler"},{"name":"Metadata Namespace","description":"Metadata Namespace Handler"},{"name":"Report Attachments Object Groups","description":"Object Groups Attachment Handler"},{"name":"StatusMaps","description":"Status Map Alert Handler"},{"name":"Indicators","description":"Indicator Handler"},{"name":"Report Attachments Devices","description":"Device Attachment Handler"},{"name":"Utils","description":"Utils Handler"},{"name":"Permissions","description":"Permission Handler"},{"name":"Report Attachments Device Groups","description":"Device Groups Attachment Handler"},{"name":"NetFlow","description":"Net Flow Handler"},{"name":"Maintenance Windows","description":"Maintenance Window Handler"},{"name":"Report Attachments Metadata","description":"Metadata Attachment Handler"},{"name":"Metadata Attribute","description":"Metadata Attribute Handler"},{"name":"Topology","description":"Topology Handler"},{"name":"Run Report Attachments","description":"Run Attachments Handler"},{"name":"Report Attachments Performance Metrics","description":"Performance Metrics Attachment Handler"},{"name":"Report Attachments Group Metrics","description":"Group Metrics Attachment Handler"},{"name":"Authentication","description":"Authentication Handler"},{"name":"Tags","description":"Tags Handler"},{"name":"DeviceGroups","description":"Device Group Handler"},{"name":"Metadata","description":"Metadata Handler"},{"name":"Background Tasks","description":"Background Tasks Handler"},{"name":"Report Attachments Alerts","description":"Alerts Attachment Handler"},{"name":"Plugins","description":"Plugin Handler"},{"name":"Alerts","description":"Alert Handler"},{"name":"Countries and Timezones","description":"Country Handler"},{"name":"Reports","description":"Report Folder Handler"},{"name":"Report Attachments Telephony","description":"Telephony Attachment Handler"},{"name":"Dynamic Plugin","description":"Dynamic Plugin Handler"},{"name":"ObjectGroup","description":"Object Group Handler"},{"name":"Devices","description":"Device Handler"},{"name":"StatusMapImages","description":"Status Map Images Handler"},{"name":"Application","description":"Application Handler"},{"name":"DeviceGroupRules","description":"Device Group Rule Handler"}],"produces":["application/json"],"paths":{"/api/v1/alerts":{"get":{"tags":["Alerts"],"summary":"Get all alert","description":"Endpoint for retrieving all alert with support for pagination","operationId":"getAllAlerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«AlertDto»"}}}},"post":{"tags":["Alerts"],"summary":"Create Alert","description":"Create an alert","operationId":"createAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"alert","description":"alert","required":true,"schema":{"$ref":"#/definitions/AlertCreateDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","enum":["100","101","102","103","200","201","202","203","204","205","206","207","208","226","300","301","302","303","304","305","307","308","400","401","402","403","404","405","406","407","408","409","410","411","412","413","414","415","416","417","418","419","420","421","422","423","424","426","428","429","431","451","500","501","502","503","504","505","506","507","508","509","510","511"]}}}}},"/api/v1/alerts/devices/{id}":{"get":{"tags":["Alerts"],"summary":"Get all alert","description":"Endpoint for retrieving all alert for the device","operationId":"getDeviceAlerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Alert status","in":"query","description":"Fetch alert which are open/close/both","required":false,"type":"string","default":"open","enum":["open","closed","both"]},{"name":"id","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceAlertsDto"}}}}},"/api/v1/alerts/filter":{"post":{"tags":["Alerts"],"summary":"Filter alerts","description":"Endpoint for filtering all alerts","operationId":"filterAlerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"alert","description":"AlertFilterDto","required":true,"schema":{"$ref":"#/definitions/AlertFilterDto"}},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«AlertDto»"}}}}},"/api/v1/alerts/force":{"post":{"tags":["Alerts"],"summary":"Create Alert Forced","description":"Create an alert forced so you get its id immediately","operationId":"createAlertForced","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"alert","description":"alert","required":true,"schema":{"$ref":"#/definitions/AlertCreateDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertCreateDto"}}}}},"/api/v1/alerts/netflow-device/{id}":{"get":{"tags":["Alerts"],"summary":"Get all alerts by FlowFalcon Device Id","description":"Endpoint for retrieving all alerts for flowFalcon device","operationId":"getFlowFalconDeviceAlerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NetflowDeviceAlertsDto"}}}}},"/api/v1/alerts/objects":{"post":{"tags":["Alerts"],"summary":"Get max severity alert/object","description":"Endpoint for retrieving max severity alert/object for each objectKey","operationId":"getMaxSeverityAlertForObjects","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"ids","description":"List of ObjectKeys","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/DeviceObjectId"}}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Severity"}}}}}},"/api/v1/alerts/{id}":{"get":{"tags":["Alerts"],"summary":"Get alert","description":"Endpoint for retrieving all alert info","operationId":"getAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Alert Id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertDto"}}}},"put":{"tags":["Alerts"],"summary":"Update alert","description":"Updates an existing alert","operationId":"updateAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the alert to update","required":true,"type":"integer","format":"int64"},{"in":"body","name":"alert","description":"Alert to be updated","required":true,"schema":{"$ref":"#/definitions/AlertDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertDto"}}}},"delete":{"tags":["Alerts"],"summary":"Delete alert","description":"Deletes an existing alert","operationId":"deleteAlertById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the alert to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}},"patch":{"tags":["Alerts"],"summary":"Update alert","description":"Updates an existing alert","operationId":"patchAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the alert to update","required":true,"type":"integer","format":"int64"},{"in":"body","name":"alert","description":"Alert to be updated","required":true,"schema":{"$ref":"#/definitions/AlertDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertDto"}}}}},"/api/v1/alerts/{id}/assign/{username}":{"patch":{"tags":["Alerts"],"summary":"Assign alert","description":"Assign alert to user","operationId":"assignAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Alert Id ","required":true,"type":"integer","format":"int64"},{"name":"username","in":"path","description":"Username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/alerts/{id}/clear":{"patch":{"tags":["Alerts"],"summary":"Clear alert","description":"Clear alert","operationId":"clearAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Alert Id ","required":true,"type":"integer","format":"int64"},{"in":"body","name":"dto","description":"Clear Message","required":true,"schema":{"$ref":"#/definitions/AlertClearDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/alerts/{id}/ignore/{ignoreTime}":{"patch":{"tags":["Alerts"],"summary":"Ignore alert","description":"Ignore alert until time (long)","operationId":"ignoreAlert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Alert Id ","required":true,"type":"integer","format":"int64"},{"name":"ignoreTime","in":"path","description":"Ignore until (Unix timestamp with milliseconds proximity) ","required":true,"type":"integer","format":"int64"},{"in":"body","name":"comment","description":"Ignore comment","required":false,"schema":{"$ref":"#/definitions/AlertClearDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/application/logger":{"post":{"tags":["Application"],"summary":"Change logging level per logger","operationId":"postLoggingLevel","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"logger","description":"Requested logger with the requested level","required":true,"schema":{"$ref":"#/definitions/LoggingLevel"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/application/metrics":{"get":{"tags":["Application"],"summary":"Get public metrics","description":"Get public metrics","operationId":"getPublicMetrics","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"filter","in":"query","description":"Filter to retrieve only subset of public metrics","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/v1/application/version":{"get":{"tags":["Application"],"summary":"Get build version","description":"Get Git info for the build","operationId":"getVersion","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"Date-Format","in":"header","description":"The date format for build time and commit time:","required":false,"type":"string","default":"yyyy-MM-dd'T'HH:mm:ssZ"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiInfo"}}}}},"/api/v1/authentication/active-sessions":{"get":{"tags":["Authentication"],"summary":"View active sessions","description":"View all active sessions at the moment","operationId":"getActiveSessions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"token","in":"query","description":"token","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}}}}},"/api/v1/authentication/keep-alive":{"get":{"tags":["Authentication"],"summary":"Keep-alive endpoint","description":"Checks if the REST API responds and has connection to local database","operationId":"keepAlive","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/authentication/signin":{"post":{"tags":["Authentication"],"summary":"Sign in user","description":"Signs in user known to SevOne NMS and returns an API token","operationId":"signIn","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"user","description":"User and password known to the SevOne NMS","required":true,"schema":{"$ref":"#/definitions/UserRequestDto"}},{"name":"nmsLogin","in":"query","description":"nmsLogin","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SignInResponseDto"}}}}},"/api/v1/authentication/signout":{"delete":{"tags":["Authentication"],"summary":"Sign out user","description":"Signs out the current session","operationId":"signOut","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}}}},"/api/v1/authentication/signout-others":{"delete":{"tags":["Authentication"],"summary":"Sign out others","description":"Signs out all other sessions but the current one","operationId":"signOutOthers","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}}}},"/api/v1/authentication/signout/{userId}":{"delete":{"tags":["Authentication"],"summary":"Sign out user","description":"Signs out the session of particular user","operationId":"signOutUser","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"path","description":"The id of the user","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}}}}},"/api/v1/countries/timezones":{"get":{"tags":["Countries and Timezones"],"summary":"Get timezones","description":"Endpoint for retrieving all timezones for the enabled countries","operationId":"getTimezonesByCountries","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TimezoneDto"}}}}}},"/api/v1/device-indicators/data":{"post":{"tags":["Indicators"],"summary":"Create device indicator data","description":"Creates a new device indicator data","operationId":"createDeviceIndicatorData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"data","description":"Device indicator data to be created","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ObjectDataDto"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/devicegroups":{"get":{"tags":["DeviceGroups"],"summary":"Get all device groups","description":"Endpoint for retrieving all device groups that supports pagination","operationId":"getDeviceGroups","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeMembers","in":"query","description":"Determines whether to include members of device groups","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceGroupDto»"}}}},"post":{"tags":["DeviceGroups"],"summary":"Create device group","description":"Creates a new device group","operationId":"createDeviceGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deviceGroup","description":"DeviceGroup request object that contains required information for creating new device group","required":true,"schema":{"$ref":"#/definitions/DeviceGroupRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupDto"}}}}},"/api/v1/devicegroups/rules":{"get":{"tags":["DeviceGroupRules"],"summary":"Get all device group rules","description":"Gets all device group rules","operationId":"getDeviceGroupsRules_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceGroupRuleDto»"}}}},"post":{"tags":["DeviceGroupRules"],"summary":"Create device group rule","description":"Creates a new device group rule","operationId":"createDeviceGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"rule","description":"Device group rule request object","required":true,"schema":{"$ref":"#/definitions/DeviceGroupRuleDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupRuleDto"}}}}},"/api/v1/devicegroups/rules/{id}":{"get":{"tags":["DeviceGroupRules"],"summary":"Get device group rule by Id","description":"Gets a single device group rule by provided id if it exists","operationId":"getDeviceGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested device group rule","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupRuleDto"}}}},"put":{"tags":["DeviceGroupRules"],"summary":"Update device group rule","description":"Updates an existing device group rule","operationId":"updateDeviceGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group rule to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"rule","description":"Device group rule to be updated","required":true,"schema":{"$ref":"#/definitions/DeviceGroupRuleDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupRuleDto"}}}},"delete":{"tags":["DeviceGroupRules"],"summary":"Delete device group rule","description":"Deletes an existing device group rule","operationId":"deleteDeviceGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group rule to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/devicegroups/{id}":{"get":{"tags":["DeviceGroups"],"summary":"Get device group by Id","description":"Gets a single device group object by provided Id if it exists","operationId":"getDeviceGroupById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested device group","required":true,"type":"integer","format":"int64"},{"name":"includeMembers","in":"query","description":"Determines whether to include members of device groups","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupDto"}}}},"put":{"tags":["DeviceGroups"],"summary":"Update device group","description":"Updates an existing device group","operationId":"updateDeviceGroupById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"deviceGroup","description":"DeviceGroup request object that contains required information for updating device group","required":true,"schema":{"$ref":"#/definitions/DeviceGroupRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupDto"}}}},"delete":{"tags":["DeviceGroups"],"summary":"Delete device group","description":"Deletes an existing device group","operationId":"deleteDeviceGroupById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}},"patch":{"tags":["DeviceGroups"],"summary":"Partially update device group","description":"Updates an existing device group","operationId":"partiallyUpdateDeviceGroupById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"deviceGroup","description":"DeviceGroup request object that contains required information for updating device group","required":true,"schema":{"$ref":"#/definitions/DeviceGroupRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceGroupDto"}}}}},"/api/v1/devicegroups/{id}/members/{deviceId}":{"post":{"tags":["DeviceGroups"],"summary":"Add an existing device to device group","description":"Adds an existing device to a device group","operationId":"addMemberByIdToGroup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group","required":true,"type":"integer","format":"int64"},{"name":"deviceId","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["DeviceGroups"],"summary":"Remove device group member","description":"Removes a single device from a device group","operationId":"deleteDeviceGroupMemberById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group","required":true,"type":"integer","format":"int64"},{"name":"deviceId","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/devicegroups/{id}/rules":{"get":{"tags":["DeviceGroupRules"],"summary":"Get device group rules","description":"Gets all device group rules for a device group","operationId":"getDeviceGroupRules_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device group","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceGroupRuleDto»"}}}}},"/api/v1/devices":{"get":{"tags":["Devices"],"summary":"Get all devices","description":"Endpoint for retrieving all devices that supports pagination","operationId":"getDevices","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceDto»"}}}},"post":{"tags":["Devices"],"summary":"Create device","description":"Creates a new device","operationId":"createDevice","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"device","description":"Device request object","required":true,"schema":{"$ref":"#/definitions/CreateDeviceRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceDto"}}}}},"/api/v1/devices/filter":{"post":{"tags":["Devices"],"summary":"Filter devices","description":"Find all devices that match the criteria","operationId":"filterDevice","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"in":"body","name":"filter","description":"Device object that will be used for filtering","required":true,"schema":{"$ref":"#/definitions/DeviceFilter"}},{"name":"includeObjects","in":"query","description":"Determines whether to include objects","required":false,"type":"boolean","default":false},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators","required":false,"type":"boolean","default":false},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":false},{"name":"localOnly","in":"query","description":"Determines whether to execute distributed request or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceDto»"}}}}},"/api/v1/devices/objects/filter":{"post":{"tags":["Objects"],"summary":"Find objects","description":"Filter the entire object collection with provided filter","operationId":"filterObjects","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"objectFilter","description":"ObjectFilter will be used for applying filtering to the set of objects.","required":true,"schema":{"$ref":"#/definitions/ObjectFilter"}},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators or not","required":false,"type":"boolean","default":false},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true},{"name":"localOnly","in":"query","description":"Determines whether to execute distributed request or not","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DeviceObjectDto"}}}}}},"/api/v1/devices/{deviceId}/objects":{"get":{"tags":["Objects"],"summary":"Get all objects for a device","description":"Endpoint for retrieving all objects for a specific device","operationId":"getObjects","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"deviceId","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators","required":false,"type":"boolean","default":false},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceObjectDto»"}}}},"post":{"tags":["Objects"],"summary":"Create object","description":"Creates a new object for a specific device","operationId":"createObject","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"},{"in":"body","name":"object","description":"Object that will be created","required":true,"schema":{"$ref":"#/definitions/DeviceObjectRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceObjectDto"}}}}},"/api/v1/devices/{deviceId}/objects/{id}":{"get":{"tags":["Objects"],"summary":"Get object by Id","description":"Gets a single object object by provided Id if it exists","operationId":"getObjectById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"The id of the object","required":true,"type":"integer","format":"int64"},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators","required":false,"type":"boolean","default":false},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceObjectDto"}}}},"put":{"tags":["Objects"],"summary":"Update object","description":"Updates an existing object","operationId":"updateObjectById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"The id of the object to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"object","description":"DeviceObjectDto to be updated","required":true,"schema":{"$ref":"#/definitions/DeviceObjectUpdateRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceObjectDto"}}}},"delete":{"tags":["Objects"],"summary":"Delete object","description":"Deletes an existing object","operationId":"deleteObjectById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"The id of the object to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}},"patch":{"tags":["Objects"],"summary":"Partially update object","description":"Partially updates an existing object","operationId":"partiallyUpdateObjectById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The id of the device this object belongs to","required":true,"type":"integer","format":"int64"},{"name":"id","in":"path","description":"The id of the object to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"object","description":"Object to be updated","required":true,"schema":{"$ref":"#/definitions/DeviceObjectUpdateRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceObjectDto"}}}}},"/api/v1/devices/{deviceId}/objects/{objectId}/indicators":{"get":{"tags":["Indicators"],"summary":"Get indicators by deviceId and objectId","description":"Endpoint for retrieving all indicators for a given deviceId and objectId","operationId":"getIndicators","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"deviceId","in":"path","description":"The Id of the device","required":true,"type":"integer","format":"int64"},{"name":"objectId","in":"path","description":"The Id of the object","required":true,"type":"integer","format":"int64"},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«IndicatorDto»"}}}}},"/api/v1/devices/{deviceId}/objects/{objectId}/indicators/{indicatorId}":{"get":{"tags":["Indicators"],"summary":"Get indicator by deviceId, objectId and indicatorId","description":"Endpoint for retrieving a single indicator for given deviceId, objectId and indicatorId","operationId":"getIndicator","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The Id of the device","required":true,"type":"integer","format":"int64"},{"name":"objectId","in":"path","description":"The Id of the object","required":true,"type":"integer","format":"int64"},{"name":"indicatorId","in":"path","description":"The Id of the indicator","required":true,"type":"integer","format":"int64"},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IndicatorDto"}}}}},"/api/v1/devices/{deviceId}/objects/{objectId}/indicators/{indicatorId}/data":{"get":{"tags":["Indicators"],"summary":"Get indicator data by deviceId, objectId and indicatorId","description":"Endpoint for retrieving indicators data for a given indicatorId and period of time","operationId":"getIndicatorData","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"The Id of the device","required":true,"type":"integer","format":"int64"},{"name":"objectId","in":"path","description":"The Id of the object","required":true,"type":"integer","format":"int64"},{"name":"indicatorId","in":"path","description":"The Id of the indicator","required":true,"type":"integer","format":"int64"},{"name":"startTime","in":"query","description":"Start time for the data, unix timestamp with milliseconds proximity","required":true,"type":"integer","format":"int64"},{"name":"endTime","in":"query","description":"End time for the data, unix timestamp with milliseconds proximity","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DataPointDto"}}}}}},"/api/v1/devices/{id}":{"get":{"tags":["Devices"],"summary":"Get device by Id","description":"Gets a single device object by provided Id if it exists","operationId":"getDeviceById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested device","required":true,"type":"integer","format":"int64"},{"name":"includeObjects","in":"query","description":"Determines whether to include objects of the device","required":false,"type":"boolean","default":false},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators and objects","required":false,"type":"boolean","default":false},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceDto"}}}},"put":{"tags":["Devices"],"summary":"Update device","description":"Updates an existing device","operationId":"updateDeviceById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"device","description":"Device to be updated","required":true,"schema":{"$ref":"#/definitions/DeviceUpdateRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceDto"}}}},"delete":{"tags":["Devices"],"summary":"Delete device","description":"Deletes an existing device","operationId":"deleteDeviceById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}},"patch":{"tags":["Devices"],"summary":"Partially update device","description":"Partial update an existing device","operationId":"partiallyUpdateDeviceById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"device","description":"Device to be updated","required":true,"schema":{"$ref":"#/definitions/DeviceUpdateRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceDto"}}}}},"/api/v1/devicetags/{id}":{"get":{"tags":["DeviceGroups"],"summary":"Get device tags  by Id","description":"Gets a single entity of type device tag","operationId":"getDeviceTagsById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested device tag","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceTagDto"}}}}},"/api/v1/devicetypes":{"get":{"tags":["DeviceTypes"],"summary":"Get all device types","description":"Endpoint for retrieving all device types that supports pagination","operationId":"getDeviceTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeMembers","in":"query","description":"Determines whether to include members of device types","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceTypeResponseDtoV1»"}}}},"post":{"tags":["DeviceTypes"],"summary":"Create device type","description":"Create new device type","operationId":"createDeviceType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deviceTypeRequestDto","description":"Device request object","required":true,"schema":{"$ref":"#/definitions/DeviceTypeRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceTypeResponseDtoV1"}}}}},"/api/v1/devicetypes/members/{deviceId}":{"get":{"tags":["DeviceTypes"],"summary":"Get device types for device","description":"Get devices types for device","operationId":"getDeviceTypeForDeviceById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"deviceId","in":"path","description":"Device id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/DeviceTypeDto"}}}}}},"/api/v1/devicetypes/{id}":{"get":{"tags":["DeviceTypes"],"summary":"Get device type","description":"Get device type by device id.","operationId":"getDeviceTypeById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Device type id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceTypeResponseDtoV1"}}}},"delete":{"tags":["DeviceTypes"],"summary":"Delete device type","description":"Deletes an existing device type","operationId":"deleteDeviceTypeById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device type to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/devicetypes/{id}/members/{deviceId}":{"post":{"tags":["DeviceTypes"],"summary":"Associate an existing device with device type","description":"Adds an existing device to a device type","operationId":"addMemberByIdToType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device type","required":true,"type":"integer","format":"int64"},{"name":"deviceId","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["DeviceTypes"],"summary":"Remove device type member","description":"Removes a single device from a device type","operationId":"deleteDeviceTypeMemberById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device type","required":true,"type":"integer","format":"int64"},{"name":"deviceId","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/discovery":{"get":{"tags":["Discovery"],"summary":"Get all devices currently in the discovery queue","description":"Endpoint for retrieving all devices currently in the discovery queue that supports pagination","operationId":"getDevicesInDiscovery","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeMembers","in":"query","description":"Determines whether to include devices in the response","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceDiscoveryDto»"}}}}},"/api/v1/discovery/filter":{"post":{"tags":["Discovery"],"summary":"Filter devices currently in the discovery queue","description":"Find all devices that match the criteria","operationId":"filterDevicesInDiscovery","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"in":"body","name":"filter","description":"Device discovery object that will be used for filtering","required":true,"schema":{"$ref":"#/definitions/DeviceDiscoveryFilter"}},{"name":"includeMembers","in":"query","description":"Determines whether to include devices","required":false,"type":"boolean","default":false},{"name":"includeObjects","in":"query","description":"Determines whether to include objects","required":false,"type":"boolean","default":false},{"name":"includeIndicators","in":"query","description":"Determines whether to include indicators","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«DeviceDiscoveryDto»"}}}}},"/api/v1/discovery/{id}":{"get":{"tags":["Discovery"],"summary":"Get device status from the discovery queue by Id","description":"Gets a single device status object by provided Id from the discovery queue","operationId":"getDeviceStatusById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"},{"name":"includeMembers","in":"query","description":"Determines whether to include devices in the response","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceDiscoveryDto"}}}},"patch":{"tags":["Discovery"],"summary":"Update an existing task for this device in the discovery queue","description":"Updates an existing task for this device in the discovery queue","operationId":"updateDevicePriority","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the device","required":true,"type":"integer","format":"int64"},{"in":"body","name":"discovery","description":"Discovery request object to be updated","required":true,"schema":{"$ref":"#/definitions/DiscoveryRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DeviceDiscoveryDto"}}}}},"/api/v1/mapimages":{"get":{"tags":["StatusMapImages"],"summary":"Get all map images","description":"Endpoint for retrieving all map images that supports pagination","operationId":"getMapImages","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«MapImageDto»"}}}}},"/api/v1/mapimages/{id}":{"get":{"tags":["StatusMapImages"],"summary":"Get map image","description":"Endpoint for retrieving the map image","operationId":"getMapImageById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the image to be retrieved","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"}}}},"/api/v1/maps":{"get":{"tags":["StatusMaps"],"summary":"Get all status maps","description":"Endpoint for retrieving all status maps that supports pagination","operationId":"getStatusMaps","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"},{"name":"includeMembers","in":"query","description":"Include status map nodes/connections","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«StatusMapDto»"}}}},"post":{"tags":["StatusMaps"],"summary":"Create status map","description":"Creates a new status map","operationId":"createStatusMap","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"map","description":"Map object that will be added to the database","required":true,"schema":{"$ref":"#/definitions/StatusMapRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StatusMapDto"}}}}},"/api/v1/maps/{id}":{"get":{"tags":["StatusMaps"],"summary":"Get status map by Id","description":"Gets a single status map object by provided Id if it exists","operationId":"getStatusMapById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested status map","required":true,"type":"integer","format":"int64"},{"name":"includeMembers","in":"query","description":"Include status map nodes/connections","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StatusMapDto"}}}},"put":{"tags":["StatusMaps"],"summary":"Update status map","description":"Updates an existing status map","operationId":"updateStatusMapById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"statusMap","description":"StatusMapDto to be updated","required":true,"schema":{"$ref":"#/definitions/StatusMapRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StatusMapDto"}}}},"delete":{"tags":["StatusMaps"],"summary":"Delete status map","description":"Deletes an existing status map","operationId":"deleteStatusMapById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}},"patch":{"tags":["StatusMaps"],"summary":"Partially update status map","description":"Updates an existing status map","operationId":"partiallyUpdateStatusMapById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"statusMap","description":"StatusMapDto to be updated","required":true,"schema":{"$ref":"#/definitions/StatusMapRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StatusMapDto"}}}}},"/api/v1/maps/{id}/connection/{connectionId}/alerts":{"get":{"tags":["StatusMaps"],"summary":"Get alerts for connection","description":"Get all alerts for a given connection","operationId":"getConnectionAlerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"connectionId","in":"path","description":"The id of the connection","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/NodeAlert"}}}}}},"/api/v1/maps/{id}/connections":{"get":{"tags":["StatusMaps"],"summary":"Get connections by status map Id","description":"Gets all existing connections for status map","operationId":"getConnections","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested status map","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«ConnectionDto»"}}}},"post":{"tags":["StatusMaps"],"summary":"Create connection","description":"Creates a new connection","operationId":"createConnection","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"in":"body","name":"connectionDto","description":"The connection to be created","required":true,"schema":{"$ref":"#/definitions/ConnectionRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConnectionDto"}}}}},"/api/v1/maps/{id}/connections/{connectionId}":{"put":{"tags":["StatusMaps"],"summary":"Update connection","description":"Update connection belonging to a status map","operationId":"updateConnectionByStatusMapId","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"connectionId","in":"path","description":"The id of the connection","required":true,"type":"integer","format":"int64"},{"in":"body","name":"connectionDto","description":"The connection to be updated","required":true,"schema":{"$ref":"#/definitions/ConnectionRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConnectionDto"}}}},"delete":{"tags":["StatusMaps"],"summary":"Delete connection from status map","description":"Deletes an existing connection from existing status map","operationId":"deleteConnectionById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"connectionId","in":"path","description":"The id of the connection","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/maps/{id}/node/{nodeId}/alerts":{"get":{"tags":["StatusMaps"],"summary":"Get alerts for node","description":"Get all alerts for a given node","operationId":"getNodeAlerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"nodeId","in":"path","description":"The id of the node","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/NodeAlert"}}}}}},"/api/v1/maps/{id}/nodes":{"get":{"tags":["StatusMaps"],"summary":"Get all nodes for a specific status map","description":"Endpoint for retrieving all nodes for a specific status map, supports pagination","operationId":"getStatusMapNodes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«NodeDto»"}}}},"post":{"tags":["StatusMaps"],"summary":"Create node","description":"Creates a new node","operationId":"createNode","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"in":"body","name":"node","description":"The node to be created","required":true,"schema":{"$ref":"#/definitions/NodeRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NodeDto"}}}}},"/api/v1/maps/{id}/nodes/{nodeId}":{"put":{"tags":["StatusMaps"],"summary":"Update node","description":"Update node belonging to a status map","operationId":"updateNodeById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"nodeId","in":"path","description":"The id of the node","required":true,"type":"integer","format":"int64"},{"in":"body","name":"node","description":"The node to be updated","required":true,"schema":{"$ref":"#/definitions/NodeRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NodeDto"}}}},"delete":{"tags":["StatusMaps"],"summary":"Delete node from status map","description":"Deletes an existing node from existing status map","operationId":"deleteNodeById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the map","required":true,"type":"integer","format":"int64"},{"name":"nodeId","in":"path","description":"The id of the node","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/objectgroups":{"get":{"tags":["ObjectGroup"],"summary":"Get all object groups","description":"Endpoint for retrieving all object groups that supports pagination","operationId":"getObjectGroups_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeMembers","in":"query","description":"Determines whether to include members of object groups","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«ObjectGroupDto»"}}}},"post":{"tags":["ObjectGroup"],"summary":"Create object group","description":"Creates a new object group","operationId":"createObjectGroup_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"objectGroup","description":"ObjectGroup request object","required":true,"schema":{"$ref":"#/definitions/ObjectGroupRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupDto"}}}}},"/api/v1/objectgroups/rules":{"get":{"tags":["ObjectGroupRules"],"summary":"Get all object group rules","description":"Gets all object group rules","operationId":"getObjectGroupsRules_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«ObjectGroupRuleDto»"}}}},"post":{"tags":["ObjectGroupRules"],"summary":"Create object group rule","description":"Creates a new object group rule","operationId":"createObjectGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"rule","description":"Object group rule","required":true,"schema":{"$ref":"#/definitions/ObjectGroupRuleDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupRuleDto"}}}}},"/api/v1/objectgroups/rules/{id}":{"get":{"tags":["ObjectGroupRules"],"summary":"Get object group rule by Id","description":"Gets a single object group rule by provided id if it exists","operationId":"getObjectGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group rule","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupRuleDto"}}}},"put":{"tags":["ObjectGroupRules"],"summary":"Update object group rule","description":"Updates an existing object group rule","operationId":"updateObjectGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group rule to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"rule","description":"Object group rule to be updated","required":true,"schema":{"$ref":"#/definitions/ObjectGroupRuleDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupRuleDto"}}}},"delete":{"tags":["ObjectGroupRules"],"summary":"Delete object group rule","description":"Deletes an existing object group rule","operationId":"deleteObjectGroupRule_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group rule to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/objectgroups/{id}":{"get":{"tags":["ObjectGroup"],"summary":"Get object group by Id","description":"Gets a single object group by provided Id if it exists","operationId":"getObjectGroupById_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"},{"name":"includeMembers","in":"query","description":"Determines whether to include members of object groups","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupDto"}}}},"put":{"tags":["ObjectGroup"],"summary":"Update object group","description":"Updates an existing object group","operationId":"updateObjectGroupById_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"},{"in":"body","name":"objectGroup","description":"ObjectGroup request object","required":true,"schema":{"$ref":"#/definitions/ObjectGroupRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupDto"}}}},"delete":{"tags":["ObjectGroup"],"summary":"Delete object group","description":"Deletes an existing object group","operationId":"deleteObjectGroupById_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group to be deleted","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}},"patch":{"tags":["ObjectGroup"],"summary":"Partially update object group","description":"Updates an existing object group","operationId":"partiallyUpdateObjectGroupById_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"},{"in":"body","name":"objectGroup","description":"ObjectGroup request object","required":true,"schema":{"$ref":"#/definitions/ObjectGroupRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ObjectGroupDto"}}}}},"/api/v1/objectgroups/{id}/members":{"post":{"tags":["ObjectGroup"],"summary":"Add a member to the object group","description":"Adds a single object to an object group","operationId":"addObjectGroupMember_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/DeviceObjectId"}}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}},"delete":{"tags":["ObjectGroup"],"summary":"Remove a member from the object group","description":"Removes a single object from an object group","operationId":"removeObjectGroupMember_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/DeviceObjectId"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/objectgroups/{id}/rules":{"get":{"tags":["ObjectGroupRules"],"summary":"Get object group rules","description":"Gets all object group rules","operationId":"getObjectGroupRules_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"},{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«ObjectGroupRuleDto»"}}}}},"/api/v1/objectgroups/{id}/rules/apply":{"post":{"tags":["ObjectGroupRules"],"summary":"Apply the rules for the specified object group","description":"Applies the rules for the specified object group","operationId":"applyObjectGroupRules_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object group","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResponseEntity"}}}}},"/api/v1/peers":{"get":{"tags":["Peers"],"summary":"Get peers","description":"Gets all peers","operationId":"getPeersUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PeerDto»"}}}}},"/api/v1/peers/clusterSettings":{"get":{"tags":["Peers"],"summary":"Get cluster settings","description":"Get cluster settings","operationId":"getClusterSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"filter","in":"query","description":"Filter to retrieve only subset of cluster settings","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/v1/peers/current":{"get":{"tags":["Peers"],"summary":"Current peer","description":"Gets current peer","operationId":"getCurrentPeerUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PeerDto"}}}}},"/api/v1/peers/incorporateMode":{"get":{"tags":["Peers"],"summary":"Get peer status","description":"Gets incorporate mode status for current peer","operationId":"getIncorporateModeUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IncorporateResponse"}}}},"patch":{"tags":["Peers"],"summary":"Edit peer status","description":"Edit current peer status - activate or deactivate incorporate mode","operationId":"editIncorporateModeUsingPATCH","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"status","description":"status","required":true,"schema":{"$ref":"#/definitions/PeerStatus"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IncorporateResponse"}}}}},"/api/v1/peers/{id}":{"get":{"tags":["Peers"],"summary":"Get peer","description":"Gets peer by id","operationId":"getPeerUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the peer","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PeerDto"}}}}},"/api/v1/peers/{id}/settings":{"get":{"tags":["Peers"],"summary":"Get settings","description":"Get settings","operationId":"getSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the peer","required":true,"type":"integer","format":"int64"},{"name":"filter","in":"query","description":"Filter to retrieve only subset of settings","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"/api/v1/pluginmanager/register":{"post":{"tags":["Dynamic Plugin"],"summary":"Register dynamic plugin manager","description":"Registers new dynamic plugin manager","operationId":"registerDynamicPluginManager","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"dynamicPluginManagerDto","description":"Dynamic Plugin Manager request object","required":true,"schema":{"$ref":"#/definitions/DynamicPluginManagerRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DynamicPluginManagerResponseDto"}}}}},"/api/v1/pluginmanager/{id}/plugin/register":{"post":{"tags":["Dynamic Plugin"],"summary":"Register plugin in dynamic plugin manager","description":"Register plugin in dynamic plugin manager","operationId":"registerDynamicPlugin","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the pluginmanager","required":true,"type":"integer","format":"int64"},{"in":"body","name":"dynamicPluginDto","description":"Plugin request object","required":true,"schema":{"$ref":"#/definitions/DynamicPluginRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DynamicPluginResponseDto"}}}}},"/api/v1/plugins":{"get":{"tags":["Plugins"],"summary":"Get all plugins","description":"Endpoint for retrieving all plugins with support for filters and pagination","operationId":"getAllPlugins","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"name","in":"query","description":"Filter by Plugin name (contains)","required":false,"type":"string"},{"name":"objectName","in":"query","description":"Filter by Object name (contains)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PluginDto»"}}}}},"/api/v1/plugins/device/schema":{"get":{"tags":["Plugins"],"summary":"Get all device extended plugin info schema","description":"Endpoint for retrieving a template of plugin info for device","operationId":"getDevicePluginInfoSchema","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/PluginInfo"}}}}}},"/api/v1/plugins/indicator/schema/{pluginId}":{"get":{"tags":["Plugins"],"summary":"Get indicator extended info schema by plugin Id","description":"Gets schema for Indicator extended info by provided plugin Id if it exists","operationId":"getIndicatorExtendedInfoSchema","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pluginId","in":"path","description":"The plugin id of the requested indicator extended info schema","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/api/v1/plugins/indicatortypes":{"get":{"tags":["Plugins"],"summary":"Get all plugin indicator types","description":"Endpoint for retrieving all plugin indicator types with support for pagination","operationId":"getAllPluginIndicatorTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PluginIndicatorTypeDtoV1»"}}}},"post":{"tags":["Plugins"],"summary":"Creates a plugin indicator type","description":"Endpoint for creating plugin indicator types","operationId":"createPluginIndicatorType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"pluginIndicatorType","description":"Indicator type request object","required":true,"schema":{"$ref":"#/definitions/PluginIndicatorTypeRequestDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PluginIndicatorTypeDtoV1"}}}}},"/api/v1/plugins/indicatortypes/filter":{"post":{"tags":["Plugins"],"summary":"Find plugin indicator types","description":"Filter plugin indicator types that match the criteria with support for pagination","operationId":"filterPluginIndicatorTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"in":"body","name":"dto","description":"Filter dto","required":false,"schema":{"$ref":"#/definitions/PluginIndicatorTypeFilterDto"}},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PluginIndicatorTypeDtoV1»"}}}}},"/api/v1/plugins/indicatortypes/schema/{pluginId}":{"get":{"tags":["Plugins"],"summary":"Get schema for plugin indicator type extended info","description":"Endpoint for retrieving schema for plugin indicator types extended info by plugin id","operationId":"getSchemaForAllPluginIndicatorTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pluginId","in":"path","description":"The plugin id of the requested plugin indicator type schema","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/api/v1/plugins/indicatortypes/{id}":{"put":{"tags":["Plugins"],"summary":"Updates a plugin indicator type","description":"Endpoint for updating plugin indicator types","operationId":"updatePluginIndicatorType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the indicator type to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"pluginIndicatorType","description":"Indicator type request object","required":true,"schema":{"$ref":"#/definitions/PluginIndicatorTypeRequestDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PluginIndicatorTypeDtoV1"}}}}},"/api/v1/plugins/object/schema/{pluginId}":{"get":{"tags":["Plugins"],"summary":"Get object extended info schema by plugin Id","description":"Gets schema for object extended info by provided plugin Id if it exists","operationId":"getObjectExtendedInfoSchema","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pluginId","in":"path","description":"The plugin id of the requested object extended info schema","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/api/v1/plugins/objecttypes":{"get":{"tags":["Plugins"],"summary":"Get all plugin object types","description":"Endpoint for retrieving all plugin object types with support for pagination","operationId":"getAllPluginObjectTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PluginObjectTypeDtoV1»"}}}},"post":{"tags":["Plugins"],"summary":"Creates an plugin object type","description":"Endpoint for creating plugin object types","operationId":"createPluginObjectType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"pluginObjectType","description":"Object type request object","required":true,"schema":{"$ref":"#/definitions/PluginObjectTypeRequestDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PluginObjectTypeDtoV1"}}}}},"/api/v1/plugins/objecttypes/filter":{"post":{"tags":["Plugins"],"summary":"Find plugin object types","description":"Filter plugin object types that match the criteria with support for pagination","operationId":"filterPluginObjectTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"in":"body","name":"dto","description":"Filter dto","required":false,"schema":{"$ref":"#/definitions/PluginObjectTypeFilterDto"}},{"name":"includeExtendedInfo","in":"query","description":"Determines whether to include extendedInfo or not","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PluginObjectTypeDtoV1»"}}}}},"/api/v1/plugins/objecttypes/schema/{pluginId}":{"get":{"tags":["Plugins"],"summary":"Get schema for plugin object type extended info","description":"Endpoint for retrieving schema for plugin object types extended info by plugin id","operationId":"getSchemaForAllPluginObjectTypes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"pluginId","in":"path","description":"The plugin id of the requested plugin object type schema","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}}}}},"/api/v1/plugins/objecttypes/{id}":{"put":{"tags":["Plugins"],"summary":"Updates an plugin object type","description":"Endpoint for updating plugin object types","operationId":"updatePluginObjectType","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the object type to be updated","required":true,"type":"integer","format":"int64"},{"in":"body","name":"pluginObjectType","description":"Object type request object","required":true,"schema":{"$ref":"#/definitions/PluginObjectTypeRequestDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PluginObjectTypeDtoV1"}}}}},"/api/v1/policies":{"get":{"tags":["Policies"],"summary":"Get all policies","description":"Endpoint for retrieving all policies that supports pagination","operationId":"getPolicies","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"includeCount","in":"query","description":"Whether to query for total elements count; defaults to true, set to false for performance boost","required":false,"type":"boolean"},{"name":"sortBy","in":"query","description":"String array of format \"parameter, -parameter, natural\\*parameter, -natural\\*parameter\", where minus is for descending, natural* is for natural sort","required":false,"type":"string"},{"name":"fields","in":"query","description":"String array of format \"id,name,objects(id,pluginId)\"; Defines which fields are returned ","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«PolicyDto»"}}}}},"/api/v1/policies/{id}":{"get":{"tags":["Policies"],"summary":"Get policy by Id","description":"Gets policy information","operationId":"getPolicy","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the requested policy","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PolicyDto"}}}}},"/api/v1/reports":{"get":{"tags":["Reports"],"summary":"Get all reports","description":"Endpoint for retrieving all reports that supports pagination.","operationId":"getAllReports_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"page","in":"query","description":"The number of the requested page, defaults to 0","required":false,"type":"integer","default":0,"format":"int32"},{"name":"size","in":"query","description":"The size of the requested page, defaults to 20; limited to a configurable maximum (10000 by default)","required":false,"type":"integer","default":20,"format":"int32"},{"name":"userId","in":"query","description":"Filter by owner id","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","description":"Filter by report name","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pager«ReportDto»"}}}},"post":{"tags":["Reports"],"summary":"Create report","description":"Creates a new report.","operationId":"createReport_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"report","description":"Report object that will be added to the database","required":true,"schema":{"$ref":"#/definitions/ReportRequestDto"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReportDto"}}}}},"/api/v1/reports/attachments/alerts/filters/schema":{"get":{"tags":["Report Attachments Alerts"],"summary":"Gets the filters schema","description":"Gets the filters schema containing available filter fields and values","operationId":"getAlertAttachmentFilterSchema","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentFiltersSchema"}}}}},"/api/v1/reports/attachments/alerts/{id}/aggregation":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get attachment aggregation","description":"Get alert attachment aggregation","operationId":"getAlertAttachmentAggregation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentAggregation"}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update attachment aggregation","description":"Update alert attachment aggregation","operationId":"updateAlertAttachmentAggregation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"},{"in":"body","name":"aggregation","description":"Alert attachment aggregation","required":true,"schema":{"$ref":"#/definitions/AlertAttachmentAggregation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentAggregation"}}}}},"/api/v1/reports/attachments/alerts/{id}/filters":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get filters","description":"Gets the report attachment filters","operationId":"getAlertAttachmentFilters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttachmentFilters"}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update filters","description":"Updates the report attachment filters","operationId":"updateAlertAttachmentFilters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"},{"in":"body","name":"filters","description":"Filters that will be updated","required":true,"schema":{"$ref":"#/definitions/AttachmentFilters"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttachmentFilters"}}}}},"/api/v1/reports/attachments/alerts/{id}/resources":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get alert attachment resources","description":"Get alert attachment resources","operationId":"getAlertAttachmentResource","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentResourceV1"}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update alert attachment resource","description":"Update alert attachment resources","operationId":"updateAlertAttachmentResource","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"},{"in":"body","name":"resource","description":"Alert attachment resources","required":true,"schema":{"$ref":"#/definitions/AlertAttachmentResourceV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentResourceV1"}}}}},"/api/v1/reports/attachments/alerts/{id}/settings":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get attachment settings","description":"Get alert attachment settings","operationId":"getAlertAttachmentSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentSettingsV1"}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update attachment settings","description":"Update alert attachment settings","operationId":"updateAlertAttachmentSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"},{"in":"body","name":"settings","description":"Alert attachment settings","required":true,"schema":{"$ref":"#/definitions/AlertAttachmentSettingsV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AlertAttachmentSettingsV1"}}}}},"/api/v1/reports/attachments/alerts/{id}/time":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get alert attachment time settings","description":"Get alert attachment time settings","operationId":"getAlertAttachmentTimeSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TimeSettingV1"}}}},"put":{"tags":["Report Attachments Alerts"],"summary":"Update alert attachment time settings","description":"Update alert attachment time settings","operationId":"updateAlertAttachmentTimeSettings","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the report attachment","required":true,"type":"integer","format":"int64"},{"in":"body","name":"timeSetting","description":"Alert attachment time settings","required":true,"schema":{"$ref":"#/definitions/TimeSettingV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TimeSettingV1"}}}}},"/api/v1/reports/attachments/alerts/{id}/visualizations":{"get":{"tags":["Report Attachments Alerts"],"summary":"Get attachment visualization settings","description":"Get alert attachment
[...]
